:root{
    --lightGrey: #E5E5E5;; // color background body
    --mainWhite: #F8F8F8; // color background wrapper
    --mainBlack: #0B0A0A; //color title and label
    --lightGrow: #DFDADA; // color input background
    --mainGrow: #887C7C; //color text placeholder
    --mainBlue: #2A75DB; // color mainBlue
}

body{
    background: var(--lightGrey);
}
.tl-1{
    color: var(--mainBlack);
}
.tl-4{
    color: var(--mainBlack); 
}
.wrapper{
    background: var(--lightBlack);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 20px 13px rgba(0, 0, 0, 0.035), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
}
.form-el{
    &__label{
        color: var(--mainBlack);
    }
    &__input{
        color: var(--mainBlack);
        background: var(--lightGrow);
        border: 1px solid var(--mainGrow);
    }
    &__input::mainGrow{
        color:  var(--mainGrow);
    }
    &__input:focus{
        outline: 1px solid var(mainBlue);
    }
}

.list-list{
    background: var(--lightGrow);   
    outline: 1px solid var(--mainGrow);
    color: var(--mainGrow);
    &__label{
        color: var(--mainBlack);
    }
}
.hidden-list{
    background-color: var(--mainWhite);
    &__label{
        color: var(--mainBlack);
    }
    &__label:hover{
        background: var(--lightGrow);
    }
}

.form-code{
    &__input{
        border: 1px solid var(--mainGrow);
        background: var(--lightGrow);
        color: var(--mainBlack);
    }
    &__retreat{
        color: var(--mainBlack);
    }
    &__discr{
        color: var(--mainGrow);
    }
}

.radio-box__label{
    color:  var(--mainBlack);
}
.form-el-apply{
    color: var(--mainBlue);
    background: inherit;
    &:hover{
        color: var(--lightGrey);
        background: var(--mainBlue);
    }
    &:focus{
        outline: 1px solid var(--mainBlue);
        background: var(--mainBlue);
        color: var(--mainWhite);
    }
}
.form-el-cancel{
    color: var(--mainBlue);
    background: inherit;
    &:hover{
        background: var(--lightGrow);
    }
    &:focus{
        outline: 1px solid var(--mainBlue);
    }
}

.footer-info{
    color: var(--mainGrow);
    &__link{
        color:#AAC9F1;
        text-decoration: underline;
    }
}